apiVersion: 1

deleteDatasources:
  - name: Prometheus
    type: prometheus

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    uid: prometheus_ds
    url: http://prometheus:9090
    isDefault: true
    editable: true
